@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "lightMode";
  /* default: true; */
  /* set as default prefersdark: false; */
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light;
  /* color of browser-provided UI */

  --color-base-100: #B8B8B8;
  --color-base-200: #666666;
  --color-base-300: #1F1F1F;
  --color-primary: #6F42C1;
  --color-background: #FFFFFF;
  --color-navbar: #D5D5D53D;
  --color-border: #E0E0E0;
  --color-success: #55A630;
  --color-success-content: #DAF1D0;
  --color-error: #D00000;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "darkMode";
  /* default: true; */
  /* set as default prefersdark: false; */
  /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark;

  --color-base-100: #FAFAFA;
  --color-base-200: #B8B8B8;
  --color-primary: #6F42C1;
  --color-background: #1F1F1F;
  --color-navbar: #4944443D;
  --color-border: #3D3D3D;
  --color-success: #55A630;
  --color-error: #D00000;

  /* border radius */
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;

  /* base sizes */
  --size-selector: 0.25rem;
  --size-field: 0.25rem;

  /* border size */
  --border: 1px;

  /* effects */
  --depth: 1;
  --noise: 0;
}